<!DOCTYPE html>
<html>
<head>
	<title>Math Questions</title>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<h1>Math Questions</h1>
{% for question in questions %}
	<div>
		<p><b>Question {{ question.number }}:</b> \( {{ question.question }} \)</p>
		<ul>
			{% for key, option in question.options.items() %}
				<li>{{ key }}: \( {{ option }} \)</li>
			{% endfor %}
		</ul>
		<p><b>Answer:</b> \( {{ question.answer }} \)</p>
	</div>
{% endfor %}
</body>
</html>
